*.mov
*.ply
*.off
.DS_Store
*.tiff
*.mlp
*.blend
*.blend1
*.txt
*.html
*.txt
*.obj
5.9.23
5.16.23_Pressure
*.doc
*.docx
*.pickle
*.pth
*.model
model_dnn
model_siamese
model_triplet
experiments
DNN_CV_template
__pycache__