*.mov
*.ply
*.off
.DS_Store
*.tiff
*.mlp
*.blend
*.blend1
*.txt
*.html
# data
# files
*.doc
*.docx
*.pickle
*.pth
*.model
*.npy
# python
__pycache__
# folders to ignore
/dated
/Experiments
/sound
/TAML/data
# images
#.pdf
